.team-img:hover {
    .team-img img {
        transform: scale(1.05);
    }
}

.box-team {

    img {
        transition: all .3s ease;
    }

    .malumot-team {
        background-position-x: 200%;
        transition: all .3s ease;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }

        .malumot-team {
            background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
            background-size: 200% auto;
            background-repeat: no-repeat;
            background-position-x: 100%;
        }

        .malumot-team,
        h4,
        span,
        p,
        i {
            color: white !important;
        }
    }


}

.hover-effect {
    transition: all 0.7s ease-in-out;
    background-size: 200% auto;
    background-repeat: no-repeat;
    opacity: 0;
}

.all-text a,
.all-text h4,
.all-text p {
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.portfolio-one:hover {
    .hover-effect {
        position: absolute;
        width: 95%;
        height: 100%;
        background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
        opacity: .7;
    }

    .all-text a,
    .all-text h4,
    .all-text p {
        opacity: 1;
    }
}

.heading-one {
    transition: all 0.3s ease-in-out;
}

.heading-one p,
.heading-one .currency,
.heading-one .packages,
.heading-one i {
    transition: all 0.2s ease-in-out;
}

.heading-one:hover {
    background-color: #00bcd4;
    color: white;

    p {
        color: white;
    }

    .currency {
        color: white;
    }

    .packages {
        color: white;
    }

    i {
        color: white;
    }

    button {
        background-color: white;
        color: #000000;
    }
}

.heading-two {
    transition: all 0.3s ease-in-out;
}

.heading-two p,
.heading-two .currency,
.heading-two .packages,
.heading-two i {
    transition: all 0.2s ease-in-out;
}

.heading-two:hover {
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    color: white;

    p {
        color: white;
    }

    .currency {
        color: white;
    }

    .packages {
        color: white;
    }

    i {
        color: white;
    }

    .btn {
        background: transparent !important;
    }
}

.app-feature {
    transition: ease-in-out 0.2s;
}

.app-feature:hover {
    i {
        position: relative;
        top: -0.5rem;
    }
}

.adress-social a:hover, .side-footer a:hover {
    .fa-facebook-f, .fa-twitter, .fa-linkedin-in {
        color: #4267B2;
    }

    .fa-google-plus-g, .fa-instagram {
        color: #C32AA3;
    }
}
